body{
  padding: 0;
  margin: 0;
  background-color: #96C7D9;
}
.container{
  width: 100%;
}
header{
  border: 2px solid white;
  background-color: grey;
  clear: left;
  text-align: center;
  margin: 0;
  padding: 0;
  align: top;
  font-size: 65px;
  font-family: Purisa, fantasy;
  text-align: center;
  font-weight: bold;
}
h1{
  font-size: 65px;
  color: white;
font-family: Purisa, fantasy;
}
footer{
  font-size:40 px;
  color: white;
font-family: Purisa, fantasy;
}

#capeTown, #paarl, #stellenbosch, #bellville{
width: 200px;
height: 35px;
background-color: #5A8594;
color: white;
font-size: 15px;
font-family: Purisa, fantasy;

}
#regNum{
  width: 250px;
}
table{
  width: 100%;
}
th{
  font-family: Purisa, fantasy;
  color: white;
  font-weight: bold;
  font-size: 35px;
}
li{
  border: 1px solid black;
  border-radius: 5%;
  width: 100px;
  height: 20px;
  background-color: silver;
  text-transform: uppercase;
  list-style: none;
}
.list {
  border: 1px solid black;
  border-radius: 5%;
  width: 100px;
  height: 20px;
  background-color: silver;
  text-transform: uppercase;
  list-style: none;
}

 #display {
  border: 1px solid black;
  border-radius: 5%;
  width: 100px;
  height: 20px;
  background-color: silver;
  text-transform: uppercase;
  list-style: none;
}
